.App{
  display: grid;
  grid-template-columns:1fr 2fr 1fr;
  max-width: 500px;
  margin: 50px auto;
}
.count_button{
  height: 100px;
  background-color: rgb(245, 93, 4);
  display: grid;
  place-items: center;
  font-size: 3rem;
  cursor: pointer;
}
.count_value{
  display: grid;
  place-items: center;
  font-size: 4rem;
  background-color: rgb(226, 241, 7) ;
}