*{
    margin:0;
    box-sizing: border-box;
    padding:0;
}
.food-card-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding:10px;
}
.food_card_thumbnail
{
    width: 100%;
    height: 250px;
}
.food_card-title
{
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}
.food_card-price
{
    color: rgb(5, 36, 5);
    text-align: center;
}
.food_card-description
{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: white

}
.food_card{
    background-color: rgb(131, 138, 75);
    box-shadow: 1px 3px 9px 2px;
    cursor: pointer;
    transition:transform 0.2s ease-in-out;
    position: relative; 
}
.food_card:hover{
    transform: scale(1.03); 
}
.food-card--deleted{
    /* transform: scale(0); */
    transform: translateY(-100%);  
    
}
.food-card--deleted:hover{
    /* transform: scale(0); */
    transform: translateY(-100%); 
}
.food-card-details-section{
    padding: 10px;
}
.food-card-availability{
    width: fit-content;
    padding: 5px;
    border-radius: 2px;
    margin: 5px 0;
    
}
.food-card-availability--available{
    background-color: green;
    margin: auto;
}
.food-card-availability--unavailable{
    background-color: red;
    color: white;
    margin: auto;
}
.food-card-closebutton,.food-card-edit-button{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #fffa;
    top: 5px;
    right: 5px;
    background-image:url(./assets/icons/times-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    border-radius: 5px;
    cursor: pointer;


}
.food-card-edit-button{
    right: 35px;
    background-image:url(./assets/icons/edit-solid.svg);
    background-size: 60%;
}
.over-view-screen{
    position: fixed; 
    /* scrolll illnd aavan */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000a;
    display: grid;
    place-items: center;
}
.edit-food-card-container{
    background-color: grey;
    padding: 20px;
    position: relative;
}
.input-feilds{
    padding: 5px;
    display: grid;
    grid-template-columns: 120px auto;
    gap: 20px;


}
h2{
    text-align: center;
    padding: 10px;
}
textarea{
    resize: none;
    /* text area rezize cheyyandirikkan */
    height: 80px;
    padding: 5px;
}
input{
    padding: 5px;
}
.submit-section{
    display: grid;
    justify-content: end;
    padding-top: 10px;
    
    
}
/* button{
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px; */

/* } */
label{
    font-weight: bold;
}
.sort-section{
    background-color:gray;
    color: white;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    padding: 10px;
}
select{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

h1{
    text-align:center;
    width: fit-content;
}
.title-image{
    display: grid;
    margin: auto;
    grid-template-columns: auto auto auto;
}
.title-image img{
    margin: 0 10PX;
    width: 70px;
    height: 70px;

}
.todo-add{
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr auto;
    
    margin: 5px;
    position: relative;


width: 100%;
background: #FFFFFF;

box-sizing: border-box;


}
html,body,#root{height: 100%;}
.todo-content{

    /* padding: 10px; */
    margin: 10px;
    cursor: pointer;    
height: calc(100% - 120px);
left: 140px;
top: 262px;

/* background: #ECECEC; */
/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); */
}
li{
    list-style:none;
    color:black;
    display:grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 10px;
    padding: 5px;
    background: #ECECEC;
    margin: 15px 0;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);  
    
} 
.circle{
    /* position: absolute; */
width: 22px;
height: 22px;


background:white;
 

border-radius: 10px;
box-sizing: border-box;
border:solid 2px black;

}
.circle--active{
    background-color:#3FF43B; 
    border: 3px solid #FFFFFF;  
}
.todo-button{
background-color:   #30CA3F;
border: none;
/* background: #748176; */
padding: 15px 62px;
}

.todo-close-button,
.todo-edit-button,
.todo-edit-save-button,
.todo-edit-cancel-button
{
    background-image:url(./assets/icons/Group\ 1.svg);
    
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}
.todo-edit-button
{
    background-image:url(./assets/icons/edit-solid.svg);
    
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}
.container{
    padding: 5px;
    max-width: 1000px;
    margin: auto;
}
.todo-edit-text-field{
    width: 100%;

}
.todo-edit-text-container{
    position: relative;
}
.todo-edit-cancel-button{
    width: 20px;
    height: 20px;
    background-image: url(./assets/icons/Group\ 4.svg);
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);



}
.todo-edit-save-button{
   
    background-image: url(./assets/icons/Vector\ 3.svg);
    background-size:100% ;



}
.todo-error-text{

    width: 70%;
    text-align: right;
    color: red;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);

}
.duplicate-error{
    width: 70%;
    text-align: right;
    right:200px;
    color: red;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
ul{
    height: 100%;
    overflow: auto;
}
.container{
    height: 100%;

}
.user-add{
    background-color: blue;
    color: white;
}
@media screen and (max-width:600px) 
{

.todo-button{
    padding: 15px;
}
.duplicate-error{
    right: 100px;
    
}
.todo-items{
    gap: 5px;
}

}
.logout-section 
{
    display: grid;
    justify-content: right;
    
    margin: 15px 0;

}
.logout-section button{
    background-color: red;
    color: white;
}
.error-text{
    color :red;
    text-align: center;
    margin: 5px 0;
}
.link-section{
    text-align: center;
    margin: 10PX 0;
}
.link-section a{
    margin-left:5px ;
}

/* 22.88px */